<!DOCTYPE html>
<html>
<head>
    <title>Payment Form</title>
    <!-- Include your CSS stylesheets here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url('{{ url_for('static', filename='icon.png') }}');
            background-repeat: repeat;
            background-size: 300px 300px;
        }
    </style>
</head>
<body>
    <div class="content-section">
        <div class="form-group">
            <form method="GET" action="/download_text2" id="download-form">
                {{ form.csrf_token }}
                <button type="submit" id="download-button">Download</button>
            </form>
        </div>
    </div>

    <script>
        // Add a JavaScript event listener to the download button
        document.getElementById('download-form').addEventListener('submit', function (e) {
            // Prevent the default form submission behavior
            e.preventDefault();

            // Perform the form submission
            this.submit();

            // Redirect back to the home page after a short delay (e.g., 2 seconds)
            setTimeout(function () {
                window.location.href = '/'; // Change '/' to the actual URL of your home page
            }, 2000); // Adjust the delay as needed (measured in milliseconds)
        });
    </script>
</body>
</html>
