/* styles.css */
/* Add your custom styling here */

.content-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #003D74;
    margin-top: 200px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.invalid-feedback {
    color: red;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
