<!DOCTYPE html>
<html>
<head>
    <title>Payment Form</title>
    <!-- Include your CSS stylesheets here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url('{{ url_for('static', filename='image.jpg') }}');
            background-repeat: repeat;
            background-size: 300px 300px;
        }
    </style>
</head>
<body>
    <div class="content-section">
            <div class="form-group">
                <!-- Use a single button for both actions -->
                {% with form=form %}
                {% include 'download_button.html' %}
                {% endwith %}
            </div>
    </div>
</body>
</html>
