<!DOCTYPE html>
<html>
<head>
    <title>Payment Form</title>
    <!-- Include your CSS stylesheets here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url('{{ url_for('static', filename='image.jpg') }}');
            background-repeat: repeat;
            background-size: 300px 300px;
        }
    </style>
</head>
<body>
    <div class="content-section">
        <form id="paymentForm" method="POST" action="">
            <div class="form-group">
                <!-- Hidden input to store current file index -->
                <input type="hidden" id="fileIndex" value="0">
                <!-- Use a single button for both actions -->
                <button type="button" class="btn btn-outline-info" id="downloadButton" onclick="downloadFile()">Download</button>
            </div>
        </form>
    </div>

    <script>
        function downloadFile() {
            // Get the current file index from the hidden input
            var fileIndex = parseInt(document.getElementById("fileIndex").value);

            // Update the file index for the next download
            document.getElementById("fileIndex").value = fileIndex + 1;

            // Redirect to the home page after downloading
            window.location.href = "{{ url_for('pages.home') }}";
        }
    </script>
</body>
</html>
